@tailwind base;
@tailwind components;
@tailwind utilities;



body{
    font-family: "Zain", sans-serif;
    font-weight: 400;
    font-style: normal;

    overflow-x: hidden;
    
    user-select: none;
}



.font{
  font-family: "Zain", sans-serif;
  font-weight: 400;
  font-style: normal;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


select{
  @apply p-1.5 outline-none rounded-md bg-white border border-blue-300
}



/* Customizing pagination dots */
.swiper-pagination-bullet {
  background-color: rgba(0, 0, 0, 0.5);
}
.swiper-pagination-bullet-active {
  background-color: #000; /* Active dot color */
}

/* Styling navigation arrows */
.swiper-button-next,
.swiper-button-prev {
  color: #000; /* Arrow color */
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Show arrows on hover */
.mySwiper:hover .swiper-button-next,
.mySwiper:hover .swiper-button-prev {
  opacity: 1;
}


