@tailwind base;
@tailwind components;
@tailwind utilities;



body{
    font-family: "Zain", sans-serif;
    font-weight: 400;
    font-style: normal;

    overflow-x: hidden;
    
    user-select: none;
}


select::-ms-expand {
  display: none;
}

.font{
  font-family: "Zain", sans-serif;
  font-weight: 400;
  font-style: normal;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


select, input{
  @apply p-1.5 outline-none rounded-md bg-white border border-green-300
}


.hiddenScrollBar {
  scrollbar-width: none; /* For Firefox */
}

.hiddenScrollBar::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}



@keyframes spin {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.wp-icon {
  animation: spin 1s linear;
}















/* From Uiverse.io by Yaya12085 */ 
.google-login-btn {
max-width: 320px;
display: flex;
padding: 0.5rem 1.4rem;
font-size: 0.875rem;
line-height: 1.25rem;
font-weight: 700;
text-align: center;
text-transform: uppercase;
vertical-align: middle;
align-items: center;
border-radius: 0.5rem;
border: 1px solid rgba(0, 0, 0, 0.25);
gap: 0.75rem;
color: rgb(65, 63, 63);
background-color: #fff;
cursor: pointer;
transition: all .6s ease;
}

.google-login-btn svg {
height: 24px;
}

.google-login-btn:hover {
transform: scale(1.02);
}